*{
    justify-content: space-evenly;
    
}

:root{
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s ease-in-out;
    
    
}

.second-nav{
    padding: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
    a{
    
    color: inherit;
    margin: auto;
    }

    
}
.info-nav ul{
    border-top: 1px solid;
    box-shadow: 0px 5px 5px rgba(73, 73, 73, 0.644);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 10px;
    margin: 0 auto;
    color: red;
    
    justify-content: space-evenly;
    
    li{
        text-align: center;
        text-decoration: none;
        list-style: none;
        justify-content: space-evenly;        
    }
    h1{
        font-weight: bold;
    }
}



.hero-section{
    padding: 20px;
    /*background-image: url("/images/sky.gif"), linear-gradient(rgba(108, 217, 236, 0.5), rgba(108, 217, 236, 0.5));*/
    background-image: url('/images/discount.jpg');
    background-size: cover;
    height: fit-content;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    
    > * {
      flex: 1 1 calc(200px);
      max-width: calc(100% - 1rem);
    }

    
    
    
    h1{
        font-weight: bold;
        align-items: left;
        padding: 5px;
        border-bottom: 5px solid;
        border-width: 5px;
    }
}

.left-side{    
    align-items: flex-end;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    height: fit-content;
    padding: 20px;
    margin-top: auto;
}
.right-side{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.418);
    height: fit-content;
    min-width: 40%;
    padding: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.425);
    gap: 2rem;
    article{
    border-bottom: 5px solid;
    
}
}

fieldset .form-radio{
    display: flex;
    color: red;
    gap: 2rem;
}
fieldset .row{
    display: block;
    color: red;
    gap: 2rem;
} 
.row legend{
    width: 100%;
    color: green;
}

.hero-section img{
    
    z-index: 1;
    height: 20rem;
}

.body-items{
    gap: 1rem;
    padding: 10px;
    background-color: rgb(0, 134, 158);
    
    h1{
        font-weight: bold;
        text-align: center;
        color: white;
        
        
    }
}

.about-us{
    color:rgb(0, 134, 158);
    padding: 10px;
    
    .text{
        flex-wrap: wrap;
    text-align: center;
    }
    h1{
        font-weight: bold;
    }
}

.benefits{
    padding: 10px;
    max-width: 100%;
    height: fit-content;
    display: flex;
flex-wrap: wrap; 
justify-content: left;
gap: 2rem; 
text-align: center;
color: white;

img{
    background-color: white;
    border-radius: 10px;
}


article{
    flex: 1 1 ;
    padding: 15px;
    /*outline: 5px solid red;*/
    max-width: 90%;
        
    
}
    h3{
    text-align: center;
    color: white;

    
}

}


.doctors{
    color: rgb(0, 134, 158);
    flex-wrap: wrap;
    
    height: fit-content;
    padding: 30px;
    text-align: center;
    

    h1, h5{
        font-weight: bold;
        
    }
   

    .cards{
        flex-wrap: wrap;
        gap: 1rem;
        padding: 20px;
        
    }
    .cards a{
        justify-content: space-evenly;
        align-self: center;
        flex-wrap: wrap;
        height: fit-content;
        width: 20rem;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
        border-bottom: 2px solid;
        &:hover{
            box-shadow: 0px 5px 5px rgb(0, 134, 158);
            transition: all 0.2s ease-out;
            cursor: pointer;
            transform: rotate(5deg);
            p, h3, h5{
            color: rgb(0, 134, 158);
            transition: all 0.5s ease-out;
            transform: rotate(-5deg);
            
            }
            h3{
                padding-top: 15px;
            }
            img{
                transform: scale(1.1);
                border-top-left-radius: 150px;
                border-bottom-right-radius: 150px;
                transition: 0.5s;
            }
        }
    }
    
}
.cards {
    display: flex;
    
}
.cards a img{
width: 15rem;
border-radius: 5px;

}

/*Reviews*/

.reviews{
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;

.review-list{
    
    flex-wrap: wrap;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    
    
    
    
}
    .review-box{
        flex: auto;
        min-width: 5rem;
        gap: 5rem;
        padding: 10px;
        background-color: white;
        color: black;
        box-shadow: 0 5px 5px rgba(82, 82, 82, 0.589);
        
        h5{
            font-weight: bold;
        }

&:hover{
    background-color: rgba(0, 134, 158, 0.699);
    box-shadow: 0 5px 5px rgb(0, 134, 158);
    color: white;
    transform: rotate(2deg);
    transition: 0.5s ease-in-out;
    
}
    }
}

.below-body{
    text-align: center;
    background-color: rgb(0, 134, 158);
    color: white;
    padding: 10px;
    height: 10rem;
}
footer{
    padding: 10px;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(0, 134, 158);
    
    
    

.footer-flex{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    gap: 2rem;
    padding: 10px;
    justify-content: center;
    
    

    iframe{
        
        max-width: 100%;
        height: 30rem;
        margin: auto 0;
        
        
    }
    .left, .right{
        width: 50%;
        margin: 0 auto;
        top: 0;
    }
}
}
.quick-links .footer-links{
    gap: 2rem;
    display: flex;
    
    list-style: none;
}
.quick-links .footer-links li a{
    
    text-decoration: none;
    list-style: none;
    color: white;
}
    .follow-us
    .socials{
        display: flex;
        gap: 1rem;
        
    }
    li{
        
        list-style: none;
        img{
            height: 2rem;
            
        }
    }
.copyright a{
text-decoration: none;
color: rgb(1, 49, 58);
}